@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: hsl(0 0% 0% / 1);
  --secondary-foreground: hsl(210 10% 36% / 1);
  --background: hsl(0 0% 100% / 1);
  --background-end: hsl(209 54% 72% / 0.4);
  --card: hsl(0 0% 98% / 1);
  --card-hover: hsl(204 38% 90% / 1);
  --border: hsl(0 0% 88% / 1);
  --brand-gold: hsl(43 79% 72% / 1);
  --primary: hsl(222 60% 44% / 1);
  --primary-hover: hsl(222 60% 34% / 1);
  --neutral-dark: hsl(0 0% 0% / 1);
  --neutral-light: hsl(0 0% 100% / 1);

  --chip-gradient-from: hsl(213deg 79% 95%);
  --chip-gradient-via: hsl(199deg 54% 89%);
  --chip-gradient-to: hsl(200deg 56% 85%);

  --logo-line: hsl(0deg 0% 100%);
  --logo-line-mobile: hsl(0deg 0% 0%);

  /* shadcn */
  --sidebar-background: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --radius: 0.5rem;

  --brand: hsl(210deg 53% 15%);
  --secondary: hsl(209deg 54% 72%);
  --accent: hsl(43deg 79% 72%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: hsl(0 0% 100% / 1);
    --secondary-foreground: hsl(210 8% 68% / 1);
    --background: hsl(0 0% 7% / 1);
    --background-end: hsl(210 53% 15% / 1);
    --card: hsl(0 0% 9% / 1);
    --card-hover: hsl(240 15% 20% / 1);
    --border: hsl(0 0% 24% / 1);

    --chip-gradient-from: hsl(224deg 42% 20%);
    --chip-gradient-via: hsl(240deg 42% 18%);
    --chip-gradient-to: hsl(240deg 49% 34%);

    --logo-gradient-from: hsl(0deg 0% 88%);
    --logo-gradient-via: hsl(0deg 0% 66%);
    --logo-gradient-to: hsl(0deg 0% 23%);
    --logo-line-mobile: hsl(0deg 0% 100%);

    /* shadcn */

    --sidebar-background: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);

    --brand: hsl(214deg 51% 8%);
    --primary: hsl(222deg 60% 48%);
    --secondary: hsl(209deg 56% 48%);
    --accent: hsl(43deg 79% 48%);
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
